
body {
    color: black;
    font-family: sans-serif;
}

.header {
    width: 750px;
    height: 120px;
    background-color: rgb(255, 255, 87);
}

h1 {
    text-align: center;
    padding-top: 33px;
}

.sidebar {
    float: left;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 343px;
    background-color: aquamarine;
    box-sizing: border-box;
}

.content {
    background-color: rgb(251, 234, 199);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 550px;
    height: 343px;
}

table {
    margin-top: 25px;
    margin-left: 45px;
}

p.name-in {
    float: left;
    margin-top: 3px;
    margin-left: 1px;
}

input.click {
    float: right;
    margin: 27px;
}

textarea {
    color: rgba(0,0,0,0.5)
}

.footer {
    width: 750px;
    height: 80px ;
    background-color: rgb(220, 220, 220);
}